<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <a href="/age">年龄识别案例</a>
    <br>
    <a href="/face">人脸识别案例</a>
 <li>{{ content_h2 }}</li>
{# <li>{{ content_h3 }}</li>#}
{#<ul>#}
{#   {% for score in scores %}#}
{#        {% if loop.first %}#}
{#            <li style="color:red;">{{ loop.revindex }}:{{ loop.index }}:{{ score }}</li>#}
{#        {% elif loop.last %}#}
{#            <li style="color:green;">{{ loop.revindex }}:{{ loop.index }}:{{ score }}</li>#}
{#        {% else %}#}
{#            <li> {{ loop.revindex }}:{{ loop.index }}:{{ score }}</li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</ul>#}
</body>
</html>